/* Add your general styles here */
body, * {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}


a {
  text-decoration: none;
}

/* Styles for the banner section */

#banner {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
}

#banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./assets/banner.png");
  background-size: cover;
  background-position: center;
  filter: contrast(130%);
  filter: brightness(70%);
  z-index: -1;
}

.banner-content {
  color: white;
  font-weight: 500;
}

.banner-content p {
  width: 60%;
  margin: 4px auto;
}

.scroll-down {
  position: absolute;
  bottom: 16vh;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
}

.scroll-down svg {
  color: white;
  font-weight: bold;
  animation: bounce 1.5s infinite;
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}



/* styles for nav bar */

.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.navbar {
  color: black;
  /* position: relative; */
  display: flex;
  justify-content: space-between;
  padding: 0 1.8rem;
  background-color: #f0f0f0;
  height: 15vh;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  margin: auto 0;
  margin-left: 1rem;
}

.logo .logo-con img {
  height: 100%;
  object-fit: contain;
}

.logo-con {
  margin-right: 4px;
  padding: 1rem;
  height: 100%;
}

.logo h3 {
  font-size: 1.8rem;
  margin: 0;
  padding: 0;
}

.logo h4 {
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}

/* nav img {
  height: 80%;
  margin: auto 0;
} */

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

.nav-list-itom {
  list-style: none;
  margin: 0 0.8rem;
}

.nav-list-itom a {
  text-decoration: none;
  color: black;
}

.nav-list-itom:hover {
  color: rgb(23, 23, 23);
}
.side-list-itom {
  list-style: none;
  margin: 2rem 0.8rem;
}

.side-list-itom a {
  text-decoration: none;
  color: black;
}

.side-list-itom:hover {
  color: rgb(23, 23, 23);
}

.menu-icon{
  display: none;
  margin: 1.5rem;
}
.hidden{
  display: none;
}


#sidebar {
  position: fixed;
  top: 0;
  left: 0px;
  height: 100%;
  width: 250px;
  background-color: #f0f0f0;
  padding-top: 50px;
  transition: left 0.3s ease;
}

@media screen and (max-width: 767px){
  .nav-list{
    display: none;
  }
  .menu-icon{
    display: inline;
  }
}


/* Styles for the home section */
.home-head {
  margin-top: 10vh;
}

.home-head h2 {
  width: 100%;
  margin: 1rem auto;
  font-size: 2.6rem;
  text-align: center;
}

.home-head p {
  width: 100%;
  margin: 0.4rem auto;
  font-size: 1.2rem;
  text-align: center;
  padding: 2% 5%;
}

.px-1 {
  padding: 1rem 0;
}

.home-img-con {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.home-img {
  margin: 4px;
}



.home-info-con h2 {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}

.home-info-con p {
  display: flex;
  justify-content: center;
  color: rgb(34, 34, 34);
  text-align: center;
  margin: 2% 5%;
}

.grid-con {
  display: flex;
  justify-content: center;
}

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 04px;
  grid-row-gap: 04px;
  width: 89vw;
}

.div1 {
  grid-area: 1 / 1 / 3 / 2;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div2 {
  grid-area: 3 / 1 / 5 / 2;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div3 {
  grid-area: 1 / 2 / 5 / 5;
  position: relative;
}

.div3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;


}

.floating-arrow {
  position: absolute;
  top: 35%;
  left: 55%;
}

.div4 {
  grid-area: 1 / 5 / 3 / 6;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div5 {
  grid-area: 3 / 5 / 5 / 6;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.adv-title {
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin: 18px 0;
}

.center {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 4px 0;
}

@media (max-width: 768px) {
  .home-head h2 {
    width: 90vw;
    margin: 1rem auto;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
  }

  .home-head p {
    display: flex;
    justify-content: center;
    width: 80vw;
    margin: 0.4rem auto;
    font-size: 1.2rem;
  }

  .home-img-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;

  }

  .home-img-con img {
    width: 100%;
    overflow-y: hidden;
  }
  .home-info-con h2 {
    padding: 0 20px;
    font-size: large;
    text-align: center;
  }
  
}

/* video play css */
.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 1;
}

/* Styles for the overlay */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}

.video-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80%;
  max-height: 80%;
}

.video {
  width: 100%;
  height: 100%;
}

/* Styles for the close button */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #fff;
  font-size: 24px;
}

@media (max-width: 768px){
  .parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 3 / 2; }
    .div2 { grid-area: 1 / 2 / 3 / 3; }
    .div3 { grid-area: 3 / 1 / 5 / 3; }
    .div4 { grid-area: 5 / 1 / 7 / 2; }
    .div5 { grid-area: 5 / 2 / 7 / 3; }
  }

  /* styles for reservation section  */
  
.res-div1 {
  grid-area: 1 / 1 / 2 / 5;
}

.res-div2 {
  grid-area: 1 / 5 / 2 / 8;
}

.res-div3 {
  grid-area: 1 / 8 / 2 / 11;
}

.res-div4 {
  grid-area: 2 / 1 / 3 / 3;
}

.res-div5 {
  grid-area: 2 / 3 / 3 / 5;
}

.res-div6 {
  grid-area: 2 / 5 / 3 / 7;
}

.res-div7 {
  grid-area: 2 / 9 / 3 / 11;
}


.res-parent {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 3px;
  grid-row-gap: 10px;
  width: 90%;
  margin: auto;
  padding: 20px;
}


.res-parent input[type="text"],
.res-parent input[type="tel"],
.res-parent input[type="date"],
.res-parent input[type="number"]{
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  height: 3rem;
  appearance: none;
  outline: none;
  background-color: rgb(236, 236, 236);
  border: 1px solid gray;
}
.res-parent input[type="submit"]{
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  height: 3rem;
  appearance: none;
  outline: none;
  border: 1px solid gray;
}
.btn{
  background-color: white !important;
  /* this is a comment */
  cursor: pointer;
}
.btn:hover{
  background-color: rgb(41, 41, 41) !important;
  color: white;
}

.res-div6 input[type="number"]::-webkit-inner-spin-button,
.res-div6 input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.res-div3 input[type="number"]::-webkit-inner-spin-button,
.res-div3 input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}




.res-head {
  margin-top: 10vh;
}

.res-head h2 {
  width: 100%;
  margin: 1rem auto;
  font-size: 2.6rem;
  text-align: center;
}

.res-head p {
  display: flex;
  justify-content: center;
  width: 60vw;
  margin: 0.4rem auto;
  font-size: 1.2rem;
  text-align: center;
}
.res-div4,
.res-div5 {
  position: relative;
}

.date-placeholder {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #999;
  pointer-events: none;
}

/* input[type="date"]::-webkit-datetime-edit-text,
input[type="date"]::-webkit-datetime-edit-month-field,
input[type="date"]::-webkit-datetime-edit-day-field,
input[type="date"]::-webkit-datetime-edit-year-field {
  color: transparent;
} */


@media (max-width: 768px){
  .res-head {
    margin-top: 10vh;
  }
  
  .res-head h2 {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
  }
  
  .res-head p {
    width: 100%;
    margin: 0.4rem 1rem;
    font-size: 1rem;
    text-align: center;
  }
  .res-parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 7px;
    }
    
    .res-div1 { grid-area: 1 / 1 / 2 / 2; }
    .res-div2 { grid-area: 2 / 1 / 3 / 2; }
    .res-div3 { grid-area: 3 / 1 / 4 / 2; }
    .res-div4 { grid-area: 4 / 1 / 5 / 2; }
    .res-div5 { grid-area: 5 / 1 / 6 / 2; }
    .res-div6 { grid-area: 6 / 1 / 7 / 2; }
    .res-div7 { grid-area: 7 / 1 / 8 / 2; }
}

.gallery-parent {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.gallery-div1 {
  grid-area: 1 / 1 / 4 / 5;
}

.gallery-div2 {
  grid-area: 1 / 5 / 4 / 8;
}

.gallery-div3 {
  grid-area: 4 / 1 / 7 / 4;
}

.gallery-div4 {
  grid-area: 4 / 4 / 7 / 8;
}

.gallery-div5 {
  grid-area: 1 / 8 / 7 / 11;
}

.gallery {
  width: 90%;
  margin: auto;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#testimonial {
  position: relative;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
  margin-top: 2rem;
}

#testimonial::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./assets/testimonial.png");
  background-size: cover;
  background-position: center;
  filter: contrast(130%);
  filter: brightness(70%);
  z-index: -1;
}

@media (max-width: 768px){
  #testimonial {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    margin-top: 2rem;
  }
}

.con-parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  width: 90%;
  margin: auto;
  }
  
  .con-div1 { grid-area: 1 / 1 / 2 / 2; }
  .con-div2 { grid-area: 1 / 2 / 2 / 3; }
  .con-div3 { grid-area: 1 / 3 / 2 / 4; }
  .con-div4 { grid-area: 1 / 4 / 2 / 5; }

  .con-div1, .con-div2, .con-div3, .con-div4{
    text-align: center;
  }

  @media (max-width: 768px){
    .con-parent {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 0.5fr);
      grid-column-gap: 5px;
      grid-row-gap: 2rem;
      }
      
      .con-div1 { grid-area: 1 / 1 / 2 / 2; }
      .con-div2 { grid-area: 1 / 2 / 2 / 3; }
      .con-div3 { grid-area: 2 / 1 / 3 / 2; }
      .con-div4 { grid-area: 2 / 2 / 3 / 3; }

      .con-div4 p{
        display: flex;
      }
  }

.fa {
  padding: 20px;
  text-align: center;
  margin: 5px 2px;
  font-size: 30px !important;
  width: 50px;
}

.fa-facebook {
  color: rgb(58, 136, 246);
}

.fa-instagram {
  color: rgb(253, 95, 42);
}

footer{
  padding: 5%;
  border-top: 1px solid #0f0f0f;

}

footer .fbox{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .fbox p{
  font-size: 1.2rem;
  font-weight: 500;
}

@media (max-width: 768px){
  footer .fbox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}